.bottomMargin {
  margin-bottom: 30px;
}

#ft {
  background-color: rgb(72, 75, 74);
}

.materias {
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.materia {
  text-align: center;
  margin-bottom: 30px;
}
