.card-entregas {
  box-shadow: 5px 5px rgba(55, 0, 179, 0.1);
}
.tooltip-entregas {
  z-index: 3;
}

.card-entregas .card-body-entregas {
  transition: all 0.15s linear;
}
.btn-primary-entregas {
  border-style: none;
  background-color: #028579;
}
.btn-primary-entregas:hover {
  border-style: none;
  background-color: #004d40;
}
