/*.section-as-signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-step-signup {
  max-width: 1024px;
  margin-top: 0px;
}

.text-form-sign-up {
  text-align: center;
  font-size: 14px;
}

.description-as-signup {
  row-gap: 2rem;
  text-align: center;
}

.btn-center-sign {
  text-align: center;
}

.form-container {
  bottom: 100px;
}

legend.form-label {
  font-size: 1.5rem;
}

.control-label {
  font-size: 0.8rem;
  font-weight: bold;
}

.form-control {
  font-size: 1rem;
}

.form-hint {
  font-size: 0.6rem;
  line-height: 1.4;
  margin: -5px auto 5px;
  color: #484848;
}

.error {
  color: #c00;
  font-size: 0.6rem;
  line-height: 1.4;
  margin: -5px auto 5px;
  font-size: 0.8rem;
}

button.btn {
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 600;
}

.password-count {
  bottom: 16px;
  right: 10px;
  font-size: 1rem;
}

.strength-meter {
  position: relative;
  height: 3px;
  background: #ddd;
  margin: 7px 0;
  border-radius: 2px;
}

.strength-meter::before {
  content: "";
  height: inherit;
  background: transparent;
  display: block;
  border-color: #fff;
  border-style: solid;
  border-width: 0 6px 0;
  position: absolute;
  width: calc(20% + 6px);
  z-index: 10;
  left: calc(20% -6px / 2);
}

.strength-meter::after {
  content: "";
  height: inherit;
  background: transparent;
  display: block;
  border-color: #fff;
  border-style: solid;
  border-width: 0 6px 0;
  position: absolute;
  width: calc(20% + 6px);
  right: calc(20% - 6px / 2);
  z-index: 10;
}

*/

.form-inputs-up p {
  color: red;
}

.container-signup {
  margin-top: 1rem;
}

.text-form-signup {
  text-align: center;
}

.section-as-signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-step-signup {
  max-width: 1024px;
  margin-top: 0px;
}

.form-inputs-up {
  margin-bottom: 0.9rem;
}

.color-text-succes {
  color: #fff;
}

.color-text-succes:hover {
  color: #fff;

  text-decoration: none;
}

.form-input-up {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  border: 2px solid "#000";
  border-radius: 5px;
}

.width-role {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  border: 2px solid "#000";
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
}
.container-as__up {
  row-gap: 1rem;
}

.container-grid-up {
  max-width: 1224px;
  display: grid;
  padding-top: 1rem;
  grid-template-columns: 100%;
  width: 100%;
  grid-column-gap: 3rem;
}

.button--color-purple {
  background-color: #6200ee;
}

@media screen and (min-width: 766px) {
  .bd-up {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
    margin-left: auto;
    margin-right: auto;
  }
}
